<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @quote_category.title %>
</p>


<%= link_to 'Edit', edit_quote_category_path(@quote_category) %> |
<%= link_to 'Back', quote_categories_path %>
